<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Streak Fit</title>


    <link rel="shortcut icon" href="~/img/activities_fav.png">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/chat-application.css" type="text/css" rel="stylesheet" />
    <link href="~/fonts/icons.css" type="text/css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" type="text/css" rel="stylesheet" />

    <link href="~/css/custom.css" type="text/css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    @*<script src="~/js/jquery-1.12.4.js"></script>*@
    @*<script src="~/js/vendors.min.js" type="text/javascript"></script>
        <script src="~/js/app.min.js" type="text/javascript"></script>*@
    <!-- END Custom CSS-->


    <link rel="apple-touch-icon" sizes="57x57" href="~/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/apple-icon-180x180.png">
    <link rel="icon" type="img/png" sizes="192x192" href="~/img/android-icon-192x192.png">
    <link rel="icon" type="img/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="img/png" sizes="96x96" href="~/img/favicon-96x96.png">
    <link rel="icon" type="img/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="manifest" href="~/img/manifest.json">

    <meta name="msapplication-TileImage" content="~/img/ms-icon-144x144.png">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light bg-gradient-x-grey-blue">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                        <a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs">
                            <i class="ft-menu font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">


                        <a href="index.html" class="navbar-brand">
                            <img alt="STREAK FIT" src="" hidden="hidden" class="" />
                            <img alt="STREAK FIT" src="~/active_brand.png" class="brand-logo">
                            @*<h2 class="brand-text">STREAK FIT</h2>*@
                        </a>
                    </li>

                    <li class="nav-item hidden-md-up float-xs-right">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu"></i></a></li>
                        <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-notification nav-item">
                            <a href="#" data-toggle="dropdown" class="nav-link nav-link-label">
                                <i class="ficon ft-bell"></i>
                                <span class="tag tag-pill tag-default tag-danger tag-default tag-up">5</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Notifications</span>
                                        <span class="notification-tag tag tag-default tag-danger float-xs-right m-0">5 New</span>
                                    </h6>
                                </li>
                                <li class="list-group scrollable-container">
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left valign-middle"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">You have new order!</h6>
                                                <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">30 minutes ago</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left valign-middle"><i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading red darken-1">99% Server load</h6>
                                                <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Five hour ago</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left valign-middle"><i class="ft-alert-triangle icon-bg-circle bg-yellow bg-darken-3"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading yellow darken-3">Warning notifixation</h6>
                                                <p class="notification-text font-small-3 text-muted">Vestibulum auctor dapibus neque.</p>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Today</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left valign-middle"><i class="ft-check-circle icon-bg-circle bg-cyan"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Complete the task</h6>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Last week</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left valign-middle"><i class="ft-file icon-bg-circle bg-teal"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Generate monthly report</h6>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Last month</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer"><a href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Read all notifications</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-notification nav-item">
                            <a href="#" data-toggle="dropdown" class="nav-link nav-link-label">
                                <i class="ficon ft-mail"></i>
                                <span class="tag tag-pill tag-default tag-danger tag-default tag-up">3</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Messages</span>
                                        <span class="notification-tag tag tag-default tag-warning float-xs-right m-0">4 New</span>
                                    </h6>
                                </li>
                                <li class="list-group scrollable-container">
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-online rounded-circle"><img src="~/img/profile.png" alt=""><i></i></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Margaret Govan</h6>
                                                <p class="notification-text font-small-3 text-muted">I like your portfolio, let's start the project.</p>
                                                <small>

                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Today</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-busy rounded-circle"><img src="~/img/profile.png" alt=""><i></i></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Bret Lezama</h6>
                                                <p class="notification-text font-small-3 text-muted">I have seen your work, there is</p>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Tuesday</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-online rounded-circle"><img src="~/img/profile.png" alt=""><i></i></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Carie Berra</h6>
                                                <p class="notification-text font-small-3 text-muted">Can we have call in this week ?</p>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">Friday</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="javascript:void(0)" class="list-group-item">
                                        <div class="media">
                                            <div class="media-left">
                                                <span class="avatar avatar-sm avatar-away rounded-circle"><img src="~/img/profile.png" alt=""><i></i></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Eric Alsobrook</h6>
                                                <p class="notification-text font-small-3 text-muted">We have project party this saturday night.</p>
                                                <small>
                                                    <time datetime="2015-06-11T18:29:20+08:00" class="media-meta text-muted">last month</time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer"><a href="javascript:void(0)" class="dropdown-item text-muted text-xs-center">Read all messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online"><img src="~/img/profile.png" alt=""></span>

                                <span class="user-name">@User.Identity.Name</span>

                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="~/Streaker/AddStreaker/?Type=" class="dropdown-item"><i class="ft-user"></i> Edit Profile</a>
                                <a href="#" class="dropdown-item"><i class="ft-mail"></i> My Inbox</a>
                                <a href="#" class="dropdown-item"><i class="ft-check-square"></i> Task</a>
                                <a href="#" class="dropdown-item"><i class="ft-comment-square"></i> Chats</a>
                                <div class="dropdown-divider"></div><a href="~/Streaker/StreakerLogout/" class="dropdown-item"><i class="ft-power"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item active" id="myDashBoard">
                    <a href="~/Streaker/AdminDashBoard/">
                        <i class="ft-home"></i>
                        <span data-i18n="" class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" id="myOrders">
                    <a href="#">
                        <i class="icon-basket-loaded"></i>
                        <span data-i18n="" class="menu-title">Orders</span>
                    </a>
                </li>
                <li class=" nav-item" id="myProduct">
                    <a href="#">
                        <i class="ft-zap"></i>
                        <span data-i18n="" class="menu-title">Product</span>
                    </a>
                </li>

                <li class=" nav-item" id="myCoach" style="display:none">
                    <a href="#">
                        <i class="icon-user"></i>
                        <span data-i18n="" class="menu-title">Coach</span>
                    </a>

                    <ul class="menu-content">
                        @*<li><a href="~/Streaker/AddStreaker/id?Type=5" class="menu-item">Add Coach</a></li>
                            <li>
                                <a href="~/Streaker/ViewStreaker/5" class="menu-item">View Coach</a>
                            </li>*@
                        <li>
                            <a href="~/Streaker/CoachUsers/" class="menu-item">View Users</a>
                        </li>

                    </ul>
                </li>


                <li class=" nav-item" id="myAdmin">
                    <a href="#">
                        <i class="icon-user"></i>
                        <span data-i18n="" class="menu-title">Admin</span>
                    </a>

                    <ul class="menu-content">
                        <li><a href="~/Streaker/AddStreaker/id?Type=3" class="menu-item">Add Admin</a></li>
                        <li>
                            <a href="~/Streaker/ViewStreaker/3" class="menu-item">View Admin</a>
                        </li>
                        @*<li><a href="~/Streaker/AddStreaker/id?Type=5" class="menu-item">Add Coach</a></li>
                            <li>
                                <a href="~/Streaker/ViewStreaker/5" class="menu-item">View Coach</a>
                            </li>
                            <li>
                                <a href="~/Streaker/AddCoachTasks" class="menu-item">Add Tasks</a>
                            </li>
                            <li>
                                <a href="~/Streaker/ViewCoachTasks" class="menu-item">View Tasks</a>
                            </li>
                            <li>
                                <a href="~/Streaker/AddSubscription" class="menu-item">Add Subscriptions</a>
                            </li>
                            <li>
                                <a href="~/Streaker/ViewSubscription" class="menu-item">View Subscriptions</a>
                            </li>*@
                    </ul>
                </li>
                <li class=" nav-item" id="mySettings">
                    <a href="#"><i class="ft-cog"></i><span data-i18n="" class="menu-title">Setting</span></a>
                    <ul class="menu-content">
                        @*<li><a href="~/Settings/AddQuestion" class="menu-item">Add Question</a></li>
                            <li><a href="~/Settings/ViewQuestion" class="menu-item">View Question</a></li>*@
                        <li><a href="~/Settings/AddDevice" class="menu-item">Add Device</a></li>
                        <li><a href="~/Settings/ViewDevice" class="menu-item">View Device</a></li>

                    </ul>

                </li>
                @*<li class=" nav-item" id="myReport"><a href="#"><i class="ft-file"></i><span data-i18n="" class="menu-title">Report</span></a></li>*@

            </ul>
        </div>
    </div>
    <div>
        @*@RenderBody()*@
    </div>
    <div>
        <footer class="footer footer-static footer-dark navbar-border navbar-fixed-bottom">
            <p>
                &copy; 2017 Streak Fit, All Rights Reserved.
                <h2 id="h2" style="display:none">@User.IsInRole("5")</h2>
            </p>
        </footer>
    </div>

</body>

</html>

<script type='text/javascript'>
    //$(document).ready(function () {
    @*var b = '<%=this.@User.IsInRole("5")%>';


    if (b ="True")
    {
       // alert("hi");
        $("#myUser").hide();
        $("#myAdmin").hide();
        $("#myProduct").hide();
        $("#myOrders").hide();
        $("#mySettings").hide();
    }*@
    var b = '<%=this.@User.IsInRole("5")%>';

    // alert(b);
    if ($("#h2").text() == "True")
        {
        // alert(b);
        $("#myDashBoard").hide();
        $("#myCoach").show();
            $("#myUser").hide();
            $("#myAdmin").hide();
            $("#myProduct").hide();
            $("#myOrders").hide();
            $("#mySettings").hide();

        }
    @*var bool = @User.IsInRole("5");
    if (bool = true)
    {
        $("#myUser").hide();
        $("#myAdmin").hide();
        $("#myProduct").hide();
        $("#myOrders").hide();
        $("#mySettings").hide();

    }*@

        //If Coach Logins  true==true
    @*if (@User.IsInRole("5")) {

            $("#myUser").hide();
            $("#myAdmin").hide();
            $("#myProduct").hide();
            $("#myOrders").hide();
            $("#mySettings").hide();

        }*@






</script>

