
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PostBlogs</title>
</head>
<body>
    <div>
        <input type="text" placeholder="Title" id="title" />
        <input type="text" placeholder="Description" id="description" />
        <input type="text" placeholder="Tags" id="tags" />
        <input type="button" id="postblog" value="PostBlogs" />
        <input type="button" id="like" value="likepost" />
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        
    });

    $("#postblog").click(function () {
      //  alert("hi");
        var post= {
            PostName: $("#title").val(),
            DateTimePost: Date,
            PostDescription: $("#description").val(),

        }
       // alert(post);
    $.ajax({
        url: '/Home/PostBlogs/',
            type: 'POST',
            datatype: 'JSON',
            data: post,

            success: function (data) {

            },
            error: function (jqxhr, status, error) {

            }

        });
    });


    $("#like").click(function () {
        var param = {
            'postid': 1
        };
        $.ajax({
            url: '/Home/LikePost/',
            type: 'POST',
            datatype: 'JSON',
            data: param,

            success: function (data) {
                alert("done");
            },
            error: function (jqxhr, status, error) {

            }

        });
    });
</script>